.section-notfound__title {
    margin: 0 auto;
    font-family: 'Roboto Slab', Arial, sans-serif; 
    font-style: normal;  
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #1a1b22;
    padding-top: 40px;
}