.section-title-result__container {
    margin: 0;
    padding-top: 80px;
    padding-left: 104px;
    padding-right: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f6f7;
}
