@media screen and (min-width: 320px) {
    .section-result__link-320 {
      text-decoration: none;
    }
}
  
  
@media screen and (min-width: 768px) {
    .section-result__link-320_hidden {
       display: none;
    }
}

@media screen and (min-width: 1440px) {
    .section-result__link-320_hidden {
        display: none;
    }
}

