@media screen and (min-width: 320px) {
  .swiper-pagination {
    top: 280px;
    /*bottom: 60px;*/
  }
}

/*@media screen and (min-width: 768px) {
  .swiper-pagination {
    bottom: 30px;
  }
}*/

@media screen and (min-width: 1440px) {
  .swiper-pagination {
    top: 350px;
  }
}