@media screen and (min-width: 320px) {
    .section-search__field-theme {
        margin: 0;
        padding: 0;
        padding-left: 16px;
        height: 56px;
        width: 288px;
        background: #fff;
        border: 1px solid #d1d2d6;
        box-sizing: border-box;
        border-radius: 100px;
        font-family: 'Roboto', Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #b6bcbf;
        border: none;
    }
}

@media screen and (min-width: 768px) {
    .section-search__field-theme {
        padding-left: 25px; 
    }
}

@media screen and (min-width: 1440px) {
    .section-search__field-theme {
        height: 64px; 
    }
}

.section-search__field-theme:focus {
    color: #1a1b22;
}
