@import url(./__caption/section-technology__caption.css);
@import url(./__container/section-technology__container.css);
@import url(./__image/section-technology__image.css);
@import url(./__items/section-technology__items.css);
@import url(./__text/section-technology__text.css);

.section-technology {
    margin: 0; 
    width: 100%;
    background-color: #f5f6f7;   
}