.section-commit__commit-text {
  margin: 0 auto;
  margin-top: 16px;
  width: calc(100% - 24px * 2);
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
}
